{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
  {% endif %}
  <table class="table">
    <tbody>
      {% for track in tracks %}
        <tr>
          <td>
            <a href="{{ url_for('main.track', number=track.number) }}">
              {{ track.number }}
            </a>
          </td>
          <td>
            <span>{{ track.title }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pager">
      <li class="previous{% if not prev_url %} hidden{% endif %}">
        <a href="{{ prev_url or '#' }}">
          <span aria-hidden="true">&larr;</span>
        </a>
      </li>
      <li class="next{% if not next_url %} hidden{% endif %}">
        <a href="{{ next_url or '#' }}">
          <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
